In [30]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import os, sys

from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor, DecisionTreeClassifier
from sklearn.ensemble import RandomForestRegressor
from sklearn.dummy import DummyRegressor
from sklearn.linear_model import LinearRegression
from sklearn.neural_network import MLPRegressor
from sklearn import metrics
from math import log

%matplotlib inline

In [31]:
data = pd.read_csv("../../data/train.csv")

In [32]:
object_columns = data.dtypes == "object"
object_columns = object_columns.loc[object_columns == True].index
len(object_columns)

43

In [33]:
"""
a = data[data.columns.intersection(object_columns)]
a = a.fillna(0)
total_categories = 0
for col in a.columns:
    total_categories += len(a[col].value_counts().index)
total_categories
"""
None

In [34]:
full_data = pd.get_dummies(data.fillna(0))

In [35]:
x = full_data.loc[:, full_data.columns != "SalePrice"]
y = full_data["SalePrice"]

In [36]:
def grade_model(model, x, y):
    x_train, x_test, y_train, y_test = train_test_split(x, y)
    model.fit(x_train, y_train)
    y_pred = model.predict(x_test)
    y_test = [log(i) for i in y_test]
    y_pred = [log(abs(i)) for i in y_pred]
    RMSE = metrics.mean_squared_error(y_test, y_pred)
    return RMSE

In [37]:
model = RandomForestRegressor(n_estimators=50, max_depth=100)
grade_model(model, x, y)

0.01787438567809768

In [38]:
model = RandomForestRegressor(n_estimators=50, max_depth=100)
model.fit(x, y)

RandomForestRegressor(max_depth=100, n_estimators=50)

In [39]:
test_data = pd.read_csv("../../data/test.csv")
test_dummies = pd.get_dummies(test_data.fillna(0))
x_test = pd.DataFrame(test_dummies, columns=x.columns)
x_test = x_test.fillna(0)

In [40]:
preds = model.predict(x_test)

In [50]:
final = pd.DataFrame(preds, index = test_data["Id"].values, columns = ["SalePrice"])

In [53]:
final.to_csv("predictions")

In [52]:
final

      SalePrice
1461  126166.00
1462  150515.50
1463  180848.80
1464  187615.00
1465  202074.00
...         ...
2915   82438.00
2916   86252.00
2917  142266.36
2918  113317.00
2919  222763.12

[1459 rows x 1 columns]